* {
    box-sizing: border-box;
}

@media screen and (max-width: 992px) {
    body {
        min-height: 900px;
    }
}

.img-container img {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.container {
}

.errorMsg {
    font-weight: bold;
    color: red;
    white-space: pre-wrap;
}

.chat-box {
    overflow-y: auto;
    position: absolute;
    bottom: 0px;
    max-height: 100%;
    width: calc(100% - 15px);
/*    overflow-y: scroll;*/
    /*max-height: 23rem;*/
}
.chat-box--item {
    margin-bottom: 1.25rem;
    transition: 0.3s;
    visibility: visible;
    opacity: 1;
}
.chat-box--item.animating {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
}
.chat-box--item:after {
    content: "";
    display: table;
    clear: both;
}
.chat-box--item > *:after {
    content: "";
    display: table;
    clear: both;
}

.chat-box--item .avatar-container {
    padding-top: 1.2rem;
}
.chat-box--item .avatar {
    width: 6rem;
    height: 6rem;
}
.chat-box--item_watson .dialog {
    width: calc(100% - 16rem);
    margin-left: 2rem;
/*    margin-right: 8rem;*/
    min-height: 8rem;
    background-color: #f4f4f4;
    padding: 1.75rem;
    display: table;
}

.chat-box--item_you .dialog {
    width: calc(100% - 16rem);
    margin-left: 8rem;
    margin-right: 2rem;
    min-height: 8rem;
    background-color: #f4f4f4;
    padding: 1.75rem;
    display: table;
}

@media screen and (max-width: 695px) {
    .chat-box--item .dialog {
      /*  width: auto;*/
    }
}

.chat-box--item .dialog p {
    font-size: 1.6rem;
    margin: 0rem;
    word-break: normal;
}
.chat-box--item_watson > * {
    float: left;
}
.chat-box--item_you > * {
    float: right;
}

.start-over {
    padding:15px;
}

.converse-text {
    text-align: left;
    border: 3px solid rgb(236, 236, 236);
    margin-bottom: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    padding: 20px;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-weight: lighter;
}

::-moz-placeholder {
    font-style: italic;
    font-weight: lighter;
}

::-ms-input-placeholder {
    font-style: italic;
    font-weight: lighter;
}

::-mox-placeholder{
    font-style: italic;
    font-weight: lighter;
}
.converse-text:focus {
    border-color: rgba(0, 178, 239, 0.65);
}
.header-text {
    color: #d74108;
    font-weight: 500;
    margin-top: 2rem;
}

.header-sub-text {
    border-bottom: 3px solid #ececec;
    padding-bottom: 1rem;
}

.conversation-container {
    text-align: center;
    position: relative;
}

.question-bar {
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 940px;
}

@media screen and (max-width: 992px) {
    .question-bar {
        width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .question-bar {
        width: 100%;
        left: 0px;
    }
}

.dialog {
    border: 2px solid #ececec;
}

.you-chat-text {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.watson-chat-text{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.watson-loading-gif{
    text-align: center;
    width: 100px;
}

.avatar-chat {
    width: 60px!important;
}

.loading {
    margin-top: -1rem;
    z-index: 100;
}

@media screen and (max-width: 767px) {
    .service-icon {
        max-width: 100px;
    }
}